In [38]:
!pip3 install langchain_community
!pip3 install streamlit plotly

Requirement already satisfied: langchain_community in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.3.5)
Requirement already satisfied: PyYAML>=5.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (6.0.1)
Requirement already satisfied: SQLAlchemy<2.0.36,>=1.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (2.0.35)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (3.10.10)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (0.6.7)
Requirement already satisfied: httpx-sse<0.5.0,>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (0.4.0)
Requirement already satisfied: langchain<0.4.0,>=0.3.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (0.3.7)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.15 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (0.3.15)
Requirement already satisfied: langsmith<0.2.0,>=0.1.125 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (0.1.142)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (2.6.1)
Requirement already satisfied: requests<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (2.31.0)
Requirement already satisfied: tenacity!=8.4.0,<10,>=8.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain_community) (9.0.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.17.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.23.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<0.4.0,>=0.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain<0.4.0,>=0.3.6->langchain_community) (0.3.2)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain<0.4.0,>=0.3.6->langchain_community) (2.9.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain-core<0.4.0,>=0.3.15->langchain_community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from langchain-core<0.4.0,>=0.3.15->langchain_community) (23.2)
Requirement already satisfied: typing-extensions>=4.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langchain-core<0.4.0,>=0.3.15->langchain_community) (4.11.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langsmith<0.2.0,>=0.1.125->langchain_community) (0.27.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langsmith<0.2.0,>=0.1.125->langchain_community) (3.10.11)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from langsmith<0.2.0,>=0.1.125->langchain_community) (1.0.0)
Requirement already satisfied: python-dotenv>=0.21.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain_community) (1.0.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (2024.2.2)
Requirement already satisfied: anyio in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.125->langchain_community) (4.3.0)
Requirement already satisfied: httpcore==1.* in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.125->langchain_community) (1.0.5)
Requirement already satisfied: sniffio in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.125->langchain_community) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.2.0,>=0.1.125->langchain_community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.15->langchain_community) (3.0.0)
Requirement already satisfied: annotated-types>=0.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.6->langchain_community) (0.6.0)
Requirement already satisfied: pydantic-core==2.23.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain<0.4.0,>=0.3.6->langchain_community) (2.23.4)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)
Requirement already satisfied: propcache>=0.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yarl<2.0,>=1.12.0->aiohttp<4.0.0,>=3.8.3->langchain_community) (0.2.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Collecting streamlit
  Downloading streamlit-1.40.0-py2.py3-none-any.whl.metadata (8.5 kB)
Collecting plotly
  Downloading plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.4.1-py3-none-any.whl.metadata (9.4 kB)
Collecting blinker<2,>=1.0.0 (from streamlit)
  Downloading blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Collecting cachetools<6,>=4.0 (from streamlit)
  Downloading cachetools-5.5.0-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: click<9,>=7.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (2.2.1)
Requirement already satisfied: pillow<12,>=7.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (10.2.0)
Collecting protobuf<6,>=3.20 (from streamlit)
  Downloading protobuf-5.28.3-cp38-abi3-macosx_10_9_universal2.whl.metadata (592 bytes)
Collecting pyarrow>=7.0 (from streamlit)
  Downloading pyarrow-18.0.0-cp312-cp312-macosx_12_0_arm64.whl.metadata (3.3 kB)
Requirement already satisfied: requests<3,>=2.27 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (2.31.0)
Collecting rich<14,>=10.14.0 (from streamlit)
  Downloading rich-13.9.4-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: tenacity<10,>=8.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (9.0.0)
Collecting toml<2,>=0.10.1 (from streamlit)
  Downloading toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from streamlit) (4.11.0)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Downloading GitPython-3.1.43-py3-none-any.whl.metadata (13 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from streamlit) (6.4)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair<6,>=4.0->streamlit) (3.1.3)
Collecting jsonschema>=3.0 (from altair<6,>=4.0->streamlit)
  Downloading jsonschema-4.23.0-py3-none-any.whl.metadata (7.9 kB)
Collecting narwhals>=1.5.2 (from altair<6,>=4.0->streamlit)
  Downloading narwhals-1.13.3-py3-none-any.whl.metadata (7.4 kB)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading gitdb-4.0.11-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests<3,>=2.27->streamlit) (2024.2.2)
Collecting markdown-it-py>=2.2.0 (from rich<14,>=10.14.0->streamlit)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading smmap-5.0.1-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=3.0->altair<6,>=4.0->streamlit)
  Downloading jsonschema_specifications-2024.10.1-py3-none-any.whl.metadata (3.0 kB)
Collecting referencing>=0.28.4 (from jsonschema>=3.0->altair<6,>=4.0->streamlit)
  Downloading referencing-0.35.1-py3-none-any.whl.metadata (2.8 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=3.0->altair<6,>=4.0->streamlit)
  Downloading rpds_py-0.21.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (4.2 kB)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: six>=1.5 in /Users/harshdeepplaha/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Downloading streamlit-1.40.0-py2.py3-none-any.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 9.0 MB/s eta 0:00:00ta 0:00:01
Downloading plotly-5.24.1-py3-none-any.whl (19.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.1/19.1 MB 26.1 MB/s eta 0:00:00a 0:00:01
Downloading altair-5.4.1-py3-none-any.whl (658 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 658.1/658.1 kB 26.1 MB/s eta 0:00:00
Downloading blinker-1.9.0-py3-none-any.whl (8.5 kB)
Downloading cachetools-5.5.0-py3-none-any.whl (9.5 kB)
Downloading GitPython-3.1.43-py3-none-any.whl (207 kB)
Downloading protobuf-5.28.3-cp38-abi3-macosx_10_9_universal2.whl (414 kB)
Downloading pyarrow-18.0.0-cp312-cp312-macosx_12_0_arm64.whl (29.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.5/29.5 MB 31.2 MB/s eta 0:00:00a 0:00:01
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 29.2 MB/s eta 0:00:00a 0:00:01
Downloading rich-13.9.4-py3-none-any.whl (242 kB)
Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Downloading gitdb-4.0.11-py3-none-any.whl (62 kB)
Downloading jsonschema-4.23.0-py3-none-any.whl (88 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading narwhals-1.13.3-py3-none-any.whl (201 kB)
Downloading jsonschema_specifications-2024.10.1-py3-none-any.whl (18 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Downloading referencing-0.35.1-py3-none-any.whl (26 kB)
Downloading rpds_py-0.21.0-cp312-cp312-macosx_11_0_arm64.whl (321 kB)
Downloading smmap-5.0.1-py3-none-any.whl (24 kB)
Installing collected packages: toml, smmap, rpds-py, pyarrow, protobuf, plotly, narwhals, mdurl, cachetools, blinker, referencing, pydeck, markdown-it-py, gitdb, rich, jsonschema-specifications, gitpython, jsonschema, altair, streamlit
Successfully installed altair-5.4.1 blinker-1.9.0 cachetools-5.5.0 gitdb-4.0.11 gitpython-3.1.43 jsonschema-4.23.0 jsonschema-specifications-2024.10.1 markdown-it-py-3.0.0 mdurl-0.1.2 narwhals-1.13.3 plotly-5.24.1 protobuf-5.28.3 pyarrow-18.0.0 pydeck-0.9.1 referencing-0.35.1 rich-13.9.4 rpds-py-0.21.0 smmap-5.0.1 streamlit-1.40.0 toml-0.10.2

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [15]:

from langchain_community.llms import Ollama

In [16]:
llm = Ollama(model="llama3.2")
llm.invoke("The first man on the moon was ...")

/var/folders/kg/1mj021kj07s5nr3v5_mcnwqc0000gn/T/ipykernel_75926/1637244879.py:1: LangChainDeprecationWarning: The class `Ollama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import OllamaLLM``.
  llm = Ollama(model="llama3.2")

'... Neil Armstrong. He stepped onto the lunar surface on July 20, 1969, during the Apollo 11 mission.'

In [17]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
Taxi Utrecht, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

"Here is the list with categories added:\n\nTaxi Utrecht, Health and Wellness, Ministerie van Justitie en Veiligheid, Government, Etos AMSTERDAM NLD, Shopping, Bistro Bar Amsterdam, Dining\n\nNote: Some expenses may fit into multiple categories (e.g. a shopping trip to a restaurant), but I've added the most relevant one based on the context.\n\nHere's a more detailed list with additional categories:\n\nTaxi Utrecht, Transportation, Health and Wellness, Ministerie van Justitie en Veiligheid, Government, Etos AMSTERDAM NLD, Shopping, Dining, Bistro Bar Amsterdam, Food"

In [9]:
import pandas as pd 

df = pd.read_csv('transactions.csv')

In [10]:
display(df)

,Date,Name / Description,Expense/Income,Amount (EUR)
0,2022-01-01 03:25:21.737862,Prescription Meds,Income,181.21
1,2022-01-01 04:19:09.251706,School Supplies,Expense,143.76
2,2022-01-01 09:22:35.753019,Luxury Hotel Stay,Income,331.66
3,2022-01-01 12:37:32.191708,Internet Bill,Income,250.54
4,2022-01-01 14:45:16.644981,Sewer Bill,Income,201.40
...,...,...,...,...
9995,2023-12-30 10:44:08.650836,Student Loan Payment,Income,397.20
9996,2023-12-30 11:04:27.682024,Pet Grooming,Income,72.13
9997,2023-12-30 20:52:12.479587,Trash Collection,Income,343.28
9998,2023-12-30 23:09:24.145395,Legal Fees,Income,24.63
9999,2023-12-30 23:11:54.704146,Overdraft Fee,Income,231.27

In [11]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

191

In [12]:
unique_transactions[1:10]

array(['School Supplies', 'Luxury Hotel Stay', 'Internet Bill',
       'Sewer Bill', 'Home Cleaning', 'Sporting Event',
       'Festival Tickets', 'Loan Repayment', 'Pest Control'], dtype=object)


Categorise bank transactions with Llama2

In [13]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 30, 60, 90, 120, 150, 180, 191]

In [33]:
def categorize_transactions(transaction_names, llm):
    # Invoke the LLM to get categorized transactions
    response = llm.invoke(
        "Can you add an appropriate category to the following expenses. "
        "For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc. "
        "Categories should be less than 4 words. " + transaction_names
    )
    
    # Split the response by lines
    response_lines = response.split('\n')

    # Filter lines that contain ' - ' (indicating the correct format)
    formatted_lines = [line for line in response_lines if ' - ' in line]

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': formatted_lines})
    
    # Split the 'Transaction vs category' column into 'Transaction' and 'Category'
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)

    return categories_df

In [34]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam', llm)

,Transaction vs category,Transaction,Category
0,1. Spotify AB by Adyen - Music & Entertainment,1. Spotify AB by Adyen,Music & Entertainment
1,2. Beta Boulders Ams Amsterdam Nld - Outdoor A...,2. Beta Boulders Ams Amsterdam Nld,Outdoor Activities
2,3. ISS Catering Services De Meern - Food & Bev...,3. ISS Catering Services De Meern,Food & Beverage
3,4. Taxi Utrecht - Transportation,4. Taxi Utrecht,Transportation
4,5. Etos AMSTERDAM NLD - Shopping,5. Etos AMSTERDAM NLD,Shopping

In [24]:
# Initialize the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    # Call the categorize_transactions function with error handling
    try:
        categories_df = categorize_transactions(transaction_names, llm)
        # Concatenate with the main dataframe
        categories_df_all = pd.concat([categories_df_all, categories_df[['Transaction', 'Category']]], ignore_index=True)
    except ValueError as e:
        print(f"Error during processing batch {i}: {e}")
        continue  # Skip this batch if there's an issue

# Display or save categories_df_all
categories_df_all.to_csv("categorized_transactions.csv", index=False)
print("Categorized transactions saved to 'categorized_transactions.csv'")

Categorized transactions saved to 'categorized_transactions.csv'

In [25]:
display(categories_df_all)

                     Transaction               Category
0           1. Prescription Meds                 Health
1             2. School Supplies              Education
2           3. Luxury Hotel Stay                 Travel
3               4. Internet Bill              Utilities
4                  5. Sewer Bill              Utilities
..                           ...                    ...
159             7. Book Purchase      Hobbies & Reading
160                8. Hotel Stay          Accommodation
161           9. Debt Collection  Financial Obligations
162             10. Doctor Visit            Health Care
163  11. Trust Fund Contribution             Investment

[164 rows x 2 columns]

In [26]:
unique_categories = categories_df_all["Category"].unique()
unique_categories

array(['Health', 'Education', 'Travel', 'Utilities', 'Maintenance',
       'Sport', 'Entertainment', 'Finance', 'Food', 'Storage', 'Rent',
       'Shopping', 'Business', 'Romance', 'Charity',
       'Entertainment (Streaming Service)', 'Sport (Fishing License)',
       'Pet Care', 'Food Delivery', 'Legal Expenses',
       'Software/Purchases', 'Relaxation/Leisure', 'Business Expenses',
       'Food and Drink', 'Insurance Premiums', 'Grocery Shopping',
       'Electronics', 'Investments', 'Taxes', 'Health and Wellness',
       'Debt Repayment', 'Home Gym', 'Banking Fees', 'Office Expenses',
       'Yard Maintenance', 'Credit Card Fees', 'Hardware/Paint',
       'Savings', 'Wellness', 'Leisure', 'Gifts', 'Fitness',
       'Subscriptions', 'Moving', 'Healthcare', 'Fuel', 'Transportation',
       'Loans', 'Sports', 'Home Maintenance', 'Business Services',
       'Personal Documents', 'Career Development', 'Side Gig', 'Hobbies',
       'Insurance', 'Gardening', 'Mental Health', 'Banking',
       'Document Services', 'E-commerce', 'Bereavement',
       'Outdoor Activities', 'Side Hustle', 'Collectibles', 'Photography',
       'Personal', 'Childcare', 'Tax Services', 'Renovation',
       'Vehicle Maintenance', 'Vacation', 'Vehicle Management',
       'Household', 'Accommodation', 'Family Care', 'Leisure Activity',
       'Health Cost', 'Education Access', 'Entertainment Subs',
       'Hobbies & Reading', 'Financial Obligations', 'Health Care',
       'Investment'], dtype=object)

In [27]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [36]:
# Remove numbering like "1. " from the Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '', regex=True)
display(categories_df_all)

                 Transaction               Category
0          Prescription Meds    Health and Wellness
1            School Supplies              Education
2          Luxury Hotel Stay                 Travel
3              Internet Bill              Utilities
4                 Sewer Bill              Utilities
..                       ...                    ...
159            Book Purchase      Hobbies & Reading
160               Hotel Stay          Accommodation
161          Debt Collection  Financial Obligations
162             Doctor Visit    Health and Wellness
163  Trust Fund Contribution             Investment

[164 rows x 2 columns]

In [41]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df.to_csv('categorized_transactions.csv')

In [42]:
display(df)

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction,Category
0,2022-01-01 03:25:21.737862,Prescription Meds,Income,181.21,Prescription Meds,Health and Wellness
1,2022-01-01 04:19:09.251706,School Supplies,Expense,143.76,School Supplies,Education
2,2022-01-01 09:22:35.753019,Luxury Hotel Stay,Income,331.66,Luxury Hotel Stay,Travel
3,2022-01-01 12:37:32.191708,Internet Bill,Income,250.54,Internet Bill,Utilities
4,2022-01-01 14:45:16.644981,Sewer Bill,Income,201.40,Sewer Bill,Utilities
...,...,...,...,...,...,...
9995,2023-12-30 10:44:08.650836,Student Loan Payment,Income,397.20,Student Loan Payment,Loans
9996,2023-12-30 11:04:27.682024,Pet Grooming,Income,72.13,Pet Grooming,Pet Care
9997,2023-12-30 20:52:12.479587,Trash Collection,Income,343.28,Trash Collection,Utilities
9998,2023-12-30 23:09:24.145395,Legal Fees,Income,24.63,Legal Fees,Services
9999,2023-12-30 23:11:54.704146,Overdraft Fee,Income,231.27,Overdraft Fee,Banking Fees